@use "_var.scss";


// Sound ON/OFF animation
@for $i from 1 through 4 {
  #Line_#{$i} {
    animation: soundOn 1s linear infinite;
    animation-delay: $i * 0.15s;
  }
}
@keyframes soundOn {
  0% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  50% {
    transform: scaleY(0.7);
    transform-origin: bottom;
  }
  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

// Loader animation
.loader {
  animation: animLoader 1s cubic-bezier(0.83, 0, 0.17, 1) forwards 4.5s;  
}
.loader__num {
  animation: animNum .5s cubic-bezier(0.64, 0, 0.78, 0) forwards 4s;  
}
.hidden {
  height: auto;
  overflow: hidden; 
}

@keyframes animNum {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15vh);
  }
}

@keyframes animLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// Icon animation
.icon__border{
  animation: rotate360 15s linear infinite;
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Page animation

.page--show .text--animation{
  transform: translateY(200px);
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.22, 1, 0.36, 1) forwards,
  opacityUp .5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
.page--show .title--animation{
  transform: translateY(200px);
  opacity: 0;
  animation: slideUp 1s cubic-bezier(0.22, 1, 0.36, 1) forwards .3s,
  opacityUp .5s cubic-bezier(0.22, 1, 0.36, 1) forwards .3s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacityUp {
  0% {    
    opacity: 0;
  }
  100% {    
    opacity: 1;
  }
}

.page--show .line{
  transform-origin: center;
  transform: scaleX(0); 
  animation: scaleUpX 1s cubic-bezier(0.22, 1, 0.36, 1) forwards .5s;
}
.page--show .circle{
  animation: opacityUp 1s cubic-bezier(0.22, 1, 0.36, 1) forwards .8s;
}
@keyframes scaleUpX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);

  }
}

.page--show .btn--recommcencer{
  transform: scaleX(0); 
  animation: scaleUpX 1s cubic-bezier(0.22, 1, 0.36, 1) forwards .8s,
  opacityUp .5s cubic-bezier(0.22, 1, 0.36, 1) forwards .8s;
}


.page--show .title--underline{
  transform-origin: center;
  transform: scaleX(0); 
  animation: scaleUpX 1s cubic-bezier(0.22, 1, 0.36, 1) forwards .3s;
}

@keyframes slideDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
.page--show .text--animationdown{
  transform: translateY(-200px);
  opacity: 0;
  animation: slideDown 1s cubic-bezier(0.22, 1, 0.36, 1) forwards .5s, 
  opacityUp .5s cubic-bezier(0.22, 1, 0.36, 1) forwards .5s;
}

// Audio icon animation
@keyframes opacityDown2 {
  0% {    
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {    
    opacity: 0;
  }
}
@keyframes opacityDown3 {
  0% {    
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  70% {    
    opacity: 0;
  }
}
.icon__animation .Vector_2{
  animation: opacityDown2 1s linear infinite;
}
.icon__animation .Vector_3{
  animation: opacityDown3 1s linear infinite;
}


.page--show .icon--audio,
.page--show .icon--photo{
  animation: scaleUpX 1s cubic-bezier(0.22, 1, 0.36, 1) forwards .1s,
  opacityUp .5s cubic-bezier(0.22, 1, 0.36, 1) forwards .1s;
}