@use "_var.scss";

@for $i from 1 through 4 {
  #Line_#{$i} {
    animation: sound 1s infinite;
    animation-delay: $i * 0.15s;
    animation-timing-function: linear;
  }
}
@keyframes sound {
  0% {
    transform: scaleY(1);
    transform-origin: bottom;
  }

  50% {
    transform: scaleY(0.7);
    transform-origin: bottom;
  }

  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}


.loader {
  animation: slideUpLoader 1s cubic-bezier(0.64, 0, 0.78, 0) forwards 7s;  
}
.loader__num {
  animation: slideUp .5s cubic-bezier(0.64, 0, 0.78, 0) forwards 6.5s;  
}
.hidden {
  height: auto;
  overflow: hidden;
}
@keyframes slideUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20vmin);
  }
}
@keyframes slideUpLoader {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100vh);   
  }
}