@use "_var.scss";

.icon {
  width: 40px;
  height: 40px;
  background-color: var(--color-white);
  border-radius: 50px;
  border: 1px solid var(--color-dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s cubic-bezier(0.64, 0, 0.78, 0);
  cursor: pointer;
  position: absolute;
  z-index: 10;

  &:hover,
  &:focus {
    background-color: white;
    transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &--sound {
    left: 1rem;
    bottom: 2rem;
  }
  &--next {
    right: 1rem;
    bottom: 2rem;

    &:hover .arrow--next {
      transform: translateX(1px);
    }
  }
  &--prev {
    right: 4rem;
    bottom: 2rem;

    &:hover .arrow--prev {
      transform: translateX(-1px);
    }
  }
}
.sound {
  width: 16px;
  height: 16px;
}
.arrow {
  width: 16px;
  transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}
