@use "_var.scss";

.icon {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-white);
  border-radius: 50px;
  border: 1px solid var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s cubic-bezier(0.64, 0, 0.78, 0);
  cursor: pointer;
  position: absolute;
  z-index: 10;

  &:hover,
  &:focus {
    background-color: white;
    transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  }

  &:active {
    transform: scale(0.95);    
  }

  &--sound {
    left: 1rem;
    bottom: 2rem;
  }
  &--next {
    right: 1rem;
    bottom: 2rem;

    &:hover .arrow--next {
      transform: translateX(1px);
    }
  }
  &--prev {
    right: 4rem;
    bottom: 2rem;

    &:hover .arrow--prev {
      transform: translateX(-1px);
    }
  }
}
.sound,
.arrow {
  width: 1rem;
  transition: 0.3s cubic-bezier(0.22, 1, 0.36, 1);
}

@media (min-width: 768px){
.icon {
  width: 3rem;
  height: 3rem;

  &--sound {
    left: 2rem;
    bottom: 2.5rem;
  }
  &--next {
    right: 2rem;
    bottom: 2.5rem;
  }
  &--prev {
    right: 6rem;
    bottom: 2.5rem;
  }
}
}

@media (min-width: 1440px){
  .icon {  
    &--sound {
      left: 3rem;
      bottom: 2.5rem;
    }
    &--next {
      right: 3rem;
      bottom: 2.5rem;
    }
    &--prev {
      right: 7rem;
      bottom: 2.5rem;
    }
  }
  }