@use "_var.scss";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: var(--color-black);
}
main {
  height: 100%;
  width: 100%;
}
.page {
  height: 100%;
  width: 100%;
  background-image: url(../images/fond.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &--show {
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__container {
    height: 100%;
    box-sizing: border-box;
    padding: 2rem 1rem 6rem;
    display: flex;
    flex-direction: column;

    &--center {
      justify-content: center;
    }

    &--end {
      justify-content: end;
    }

    &--between {
      justify-content: space-between;
    }
  }

  &--equipe {
    background-image: url(../images/equipe.png);
  }

  &--equipechap {
    background: linear-gradient(
        0deg,
        rgba(26, 26, 26, 0.8),
        rgba(26, 26, 26, 0.8)
      ),
      url(../images/equipe.png);
    background-size: cover;
  }

  &--avion {
    background-image: url(../images/avion.png);
  }

  &--nuages {
    background-image: url(../images/nuages.png);
  }

  &--montagnes {
    background-image: url(../images/montagnes.png);
  }

  &--reveil {
    background-image: url(../images/reveil.png);
  }

  &--reveilchap {
    background: linear-gradient(
        0deg,
        rgba(26, 26, 26, 0.8),
        rgba(26, 26, 26, 0.8)
      ),
      url(../images/reveil.png);
    background-size: cover;
  }

  &--survie {
    background-image: url(../images/survie.png);
  }

  &--groupe {
    background-image: url(../images/groupe.png);
  }

  &--astuces {
    background-image: url(../images/astuces.png);
  }
}
.bulle {
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-gray);
  padding: 1rem;
}
