@use "_var.scss";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: var(--color-black);
}
.display--none{
  display: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img{
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
}
.loader{
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-black);

  &__box{
    position: absolute;
    bottom: 10vmin;
    left: 10vmin;
  }

  &__num{
    font-size: 15vmin;
    color: var(--color-white);
    font-family: "Barlow Condensed", sans-serif;
  }
}
.page {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &--show {
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  &__container {
    height: 100%;    
    box-sizing: border-box;
    padding: 2rem 1rem 6rem;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;

    &--center {
      justify-content: center;
    }

    &--end {
      justify-content: end;
    }

    &--between {
      justify-content: space-between;
    }
  }

  &--choix,
  &--mort,
  &--fin,
  &--intro {
    z-index: 40;
  }
  &--viemort,
  &--video1 {
    z-index: 20;
  }

  &--intro {
    background-image: url(../images/image1.jpg); 
  }
  &--image2 {
    background-image: url(../images/image2.jpg);
  }
  &--image3 {
    background-image: url(../images/image3.jpg);
  }
  &--image4 {
    background-image: url(../images/image4.jpg);
  }
  &--image5 {
    background-image: url(../images/image5.jpg);
  }
  &--image6 {
    background-image: url(../images/image6.jpg);
  }
  &--image7 {
    background-image: url(../images/image7.jpg);
  }
  &--image8 {
    background-image: url(../images/image8.jpg);
  }
  &--image9 {
    background-image: url(../images/image9.jpg);
  }
  &--image10 {
    background-image: url(../images/image10.jpg);
  }
  &--image11 {
    background-image: url(../images/image11.jpg);
  }
  &--image12 {
    background-image: url(../images/image12.jpg);
  }
  &--image13 {
    background-image: url(../images/image13.jpg);
  }
  &--image14 {
    background-image: url(../images/image14.jpg);
  }
  &--image15 {
    background-image: url(../images/image15.jpg);
  }
  &--image16 {
    background-image: url(../images/image16.jpg);
  }
  &--image17 {
    background-image: url(../images/image17.jpg);
  }
  &--image18 {
    background-image: url(../images/image18.jpg);
  }
  &--image19 {
    background-image: url(../images/image19.jpg);
  }
  &--image20 {
    background-image: url(../images/image20.jpg);
  }
  &--image21 {
    background-image: url(../images/image21.jpg);
  }
  &--image22 {
    background-image: url(../images/image22.jpg);
  }
}

.flex--column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bulle {
  background-color: var(--color-white);  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 2px;
  padding: 1.5rem;
}
.marginb1 {
  margin-bottom: 1rem;
}
.marginb4 {
  margin-bottom: 4rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 30;
}
.bg-active{
  visibility: visible;
  opacity: 1;
}
.modal{
  background-color: var(--color-white);
  width: 80%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 768px){
  .page {
    &__container {    
      padding: 6rem 2rem 8rem;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: 1fr;
      column-gap: 1.5rem;
      align-items: start;  
    }
  }
  .align--center {
    align-self: center;
  }
  .align--end {
    align-self: end;
  }
  .bulle {
    padding: 2rem;
  }
  .tgrid17 {
    grid-column: 1/7;
  }
  .tgrid26 {
    grid-column: 2/6;  
  }
  .tgrid15 {
    grid-column: 1/5;
  }
  .tgrid37 {
    grid-column: 3/7;
  }
  .modal{
    width: 60%;
  }
}

@media (min-width: 1200px){
  .page {  
    &__container {    
      padding: 2.5rem 0;  
      display: grid;
      grid-template-columns: repeat(12, 72px);
      column-gap: 1.5rem;
      align-items: start;
      max-width: 1128px;
      margin: 0 auto;
    }
  }
  .dgrid410 {
    grid-column: 4/10;
  }
  .dgrid311 {
    grid-column: 3/11;
  }
  .dgrid16 {
    grid-column: 1/6;
  }
  .dgrid27{
    grid-column: 2/7;
  }
  .dgrid49{
    grid-column: 4/9;
  }
  .dgrid813 {
    grid-column: 8/13;
  }
  .dgrid712 {
    grid-column: 7/12;
  }
  .dgrid713{
    grid-column: 7/13;
  }
  .marginb5 {
    margin-bottom: 5rem;
  }
  .marginb3 {
    margin-bottom: 3rem;
  }
  .margint3 {
    margin-top: 3rem;
  }
  .modal{
    width: 40%;
  }

}

@media (min-width: 1440px){
  .page{
    &__container {    
      column-gap: 2.5rem;
      max-width: 1304px;
    }
  }
}