@use "_var.scss";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: var(--color-black);
}
main {
  height: 100%;
  width: 100%;
}
.page {
  height: 100%;
  width: 100%;
  background-image: url(../images/fond.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &--show {
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &--intro {
    background: var(--color-black);
  }

  &__container {
    height: 100%;    
    box-sizing: border-box;
    padding: 2rem 1rem 6rem;
    display: flex;
    flex-direction: column;

    &--center {
      justify-content: center;
    }

    &--end {
      justify-content: end;
    }

    &--between {
      justify-content: space-between;
    }
  }

  &--equipe {
    background-image: url(../images/equipe.png);
  }

  &--equipechap {
    background: linear-gradient(
        0deg,
        rgba(26, 26, 26, 0.8),
        rgba(26, 26, 26, 0.8)
      ),
      url(../images/equipe.png);
    background-size: cover;
    background-position: center;
  }

  &--avion {
    background-image: url(../images/avion.png);
  }

  &--nuages {
    background-image: url(../images/nuages.png);
  }

  &--montagnes {
    background-image: url(../images/montagnes.png);
  }

  &--reveil {
    background-image: url(../images/reveil.png);
  }

  &--reveilchap {
    background: linear-gradient(
        0deg,
        rgba(26, 26, 26, 0.8),
        rgba(26, 26, 26, 0.8)
      ),
      url(../images/reveil.png);
    background-size: cover;
    background-position: center;
  }

  &--survie {
    background-image: url(../images/survie.png);
  }

  &--groupe {
    background-image: url(../images/groupe.png);
  }

  &--astuces {
    background-image: url(../images/astuces.png);
  }
}
.bulle {
  background-color: var(--color-white);  
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 1.5rem;
}

@media (min-width: 768px){
.page {
  &__container {    
    padding: 6rem 2rem 8rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 1.5rem;
    align-items: start;

    &--start {
      align-content: start;
    }    

    &--center {
      align-content: center;
    }

    &--end {
      align-content: end;
    }

    &--between {
      align-content: space-between;
    }    
  }
}
.bulle {
  padding: 2rem;
}
.tgrid26 {
  grid-column: 2/6;  
}
.tgrid15 {
  grid-column: 1/5;
}
.tgrid37 {
  grid-column: 3/7;
}
}

@media (min-width: 1200px){
.page {  
  &__container {    
    padding: 2.5rem 0;  
    display: grid;
    grid-template-columns: repeat(12, 72px);
    column-gap: 1.5rem;
    align-items: start;
    max-width: 1128px;
    margin: 0 auto;
    

    &--start {
      align-content: start;
    }    

    &--center {
      align-content: center;
    }

    &--end {
      align-content: end;
    }

    &--between {
      align-content: space-between;
    }    
  }
}
.bulle {
  padding: 2rem;
}
.dgrid410 {
  grid-column: 4/10;
}
.dgrid311 {
  grid-column: 3/11;
}
.dgrid16 {
  grid-column: 1/6;
}

}

