@use "_var.scss";

p {
  margin: 0;
}
.title {
  font-family: "Barlow Condensed", sans-serif;
  margin: 0;

  &--big {
    font-size: 2.25rem;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 110%;
  }

  &--medium {
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 1px;
    font-weight: 500;
  }

  &--chapitre {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  &--numero {
    font-size: 4rem;
    position: relative;
    margin-bottom: 5rem;

    &::after {
      display: block;
      content: "";
      width: 6rem;
      height: 2px;
      border-radius: 50px;
      background: var(--color-white);
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--center {
    text-align: center;
  }

  &--intro {
    position: relative;
    margin-bottom: 4rem;

    &::after {
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      border-radius: 50px;
      background: var(--color-white);
      position: absolute;
      left: 0;
      bottom: -2rem;
    }
  }

  &--white {
    color: var(--color-white);
  }
}
.text {
  line-height: 140%;
  font-size: 1rem;

  &--small {
    font-weight: 400;
  }

  &--big {
    font-weight: 700;
  }
}
.typo--mort{
  max-width: 100%;
  margin-bottom: 1rem;
}
.btn {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 3rem;
  background-color: var(--color-white);
  padding: 2px;

  :hover,
  :focus{
    border-radius: 0;    
  }
  :active {
    background-color: black;
  }
  &__cadre{
    background-color: var(--color-black);
    padding: 1rem 2rem;
    border-radius: 0 0 25px 25px;
    transition:  0.3s cubic-bezier(0.22, 1, 0.36, 1);;
  }
}

@media (min-width: 768px){
.title {
  &--big {
    font-size: 3rem;
  }
  &--medium {
    font-size: 1.75rem;
  }
  &--chapitre {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &--numero {
    font-size: 6rem;
    margin-bottom: 6rem;

    &::after {
      width: 8rem;
      height: 3px;
    }
  }

  &--intro {
    &::after {
      height: 3px;
    }
  }
}
.text {
  &--big {
    font-size: 20px;
  }
}
.btn {
font-size: 1.25rem;
letter-spacing: 2px;
padding: 4px;

  &__cadre{
    padding: 1rem 2rem;
    border-radius: 0 0 25px 25px;
  }
}
.typo--mort {
  margin-bottom: 2rem;
}

}


@media (min-width: 1440px){
.title {
  &--big {
    font-size: 3.5rem;
  }
  &--medium {
    font-size: 2rem;
  }
  &--chapitre {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  &--numero::after {
    bottom: -1.5rem;
  }
}
.text {
  &--small {
    font-size: 18px;
  }
  &--big {
    font-size: 1.5rem;
  }
}
}