@use "_var.scss";

/* Ttile & text */
.title{
  font-weight: 400;    
  color: var(--font-color-dark2);
  font-family: 'Raleway', sans-serif;
}
.title--light{
  color: var(--font-color-light);
}
.title--big{
  font-size: 38px;
  line-height: 120%; 
  font-weight: 500;
}
.title--medium{
  font-size: 28px;
  line-height: 32px;   
}
.title--small{
  font-size: 21px;
  line-height: 24px;
  font-weight: 500;
}
.title__home--small{    
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: var(--primary-color);
}
p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--font-color-dark);
  font-family: 'Roboto', sans-serif;
}
.text--light{
  color: var(--font-color-light2);
}
.title--deco{
  position: relative;  
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(30px);  
}
.title--deco::before{
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--font-color-dark);
}
.title--contact{
  font-weight: 700;
}
