:root{ 

--font-color-light:#FFFFFF;
--font-color-light2:#ADBDCC;
--font-color-dark:#425466;
--font-color-dark2:#0A2540;

--primary-color: #635BFF;
--secondary-color: #00D4FF;

--bg-color-light: #FFFFFF;
--bg-color-light2: #F6F9FC;
--bg-color-dark: #0A2540;   
--bg-color-dark2: #0C2B4B;     

}

