@use "_type.scss";
@use "_var.scss";
@use "_layout.scss";
@use "_icon-btn.scss";
@use "_animation.scss";
@use "_normalize.css";

/*
TODO LIST

CORRIGER :
- js trop redondant, simplifier pour les videos (boucle et changer les class +1)
- vérifier le responsive et que toutes les images s'affichent bien (décalage entre videos et images sur mobile et sur safari)

APRÈS :
- ajouter plus de bruits et les racourcir 
- plus de choix et aller plus loin dans les choix et ajouter systeme de vies 
- animations, pop up, chapitres 

- optimiser le tout

!!! Prévoir un stand pour présentation tfe
idées:
-- apporter un casque pour ambiance sonore



*/

